.o_is_subtask {
    background-color: #f8f9fa !important;
    padding-left: 30px !important;
}

.o_expand_icon {
    width: 16px;
    text-align: center;
}

.o_hidden {
    display: none !important;
}